In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('../data/kaggle_bias/train.csv')
test = pd.read_csv('../data/kaggle_bias/test.csv')

In [3]:
train.head()

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.000000,"This is so cool. It's like, 'would you want yo...",0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
1,59849,0.000000,Thank you!! This would make my life a lot less...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
2,59852,0.000000,This is such an urgent design problem; kudos t...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
3,59855,0.000000,Is this something I'll be able to install on m...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
4,59856,0.893617,haha you guys are a bunch of losers.,0.021277,0.0,0.021277,0.87234,0.0,0.0,0.0,...,2006,rejected,0,0,0,1,0,0.0,4,47

In [4]:
train.columns

Index(['id', 'target', 'comment_text', 'severe_toxicity', 'obscene',
       'identity_attack', 'insult', 'threat', 'asian', 'atheist', 'bisexual',
       'black', 'buddhist', 'christian', 'female', 'heterosexual', 'hindu',
       'homosexual_gay_or_lesbian', 'intellectual_or_learning_disability',
       'jewish', 'latino', 'male', 'muslim', 'other_disability',
       'other_gender', 'other_race_or_ethnicity', 'other_religion',
       'other_sexual_orientation', 'physical_disability',
       'psychiatric_or_mental_illness', 'transgender', 'white', 'created_date',
       'publication_id', 'parent_id', 'article_id', 'rating', 'funny', 'wow',
       'sad', 'likes', 'disagree', 'sexual_explicit',
       'identity_annotator_count', 'toxicity_annotator_count'],
      dtype='object')

In [5]:
test.head()

        id                                       comment_text
0  7097320  [ Integrity means that you pay your debts.]\n\...
1  7097321  This is malfeasance by the Administrator and t...
2  7097322  @Rmiller101 - Spoken like a true elitist. But ...
3  7097323  Paul: Thank you for your kind words.  I do, in...
4  7097324  Sorry you missed high school. Eisenhower sent ...

In [6]:
# they have expanded test ones as well, I'm curious as to the target variables this dataset is 
# using

In [7]:
identities = pd.read_csv('../data/kaggle_bias/identity_individual_annotations.csv')
identities.head()

,id,worker,disability,gender,race_or_ethnicity,religion,sexual_orientation
0,59856,211,none,none,none,none,none
1,59856,683,intellectual_or_learning none,none,none,none,none
2,59856,8899,none,none,none,none,none
3,59856,67,none,none,none,none,none
4,239579,8900,none,none,none,none,none

In [8]:
toxicities = pd.read_csv('../data/kaggle_bias/toxicity_individual_annotations.csv')
toxicities.head()

,id,worker,toxic,severe_toxic,identity_attack,insult,obscene,sexual_explicit,threat
0,59859,0,1,0,0,1,1,0,0
1,59859,1,1,0,0,0,1,0,0
2,59859,2,1,0,0,1,1,0,0
3,59859,3,1,1,0,0,1,0,0
4,59859,4,1,0,0,0,1,0,0

In [9]:
test_public = pd.read_csv('../data/kaggle_bias/test_public_expanded.csv')
test_public.head()

,id,comment_text,created_date,publication_id,parent_id,article_id,rating,funny,wow,sad,...,other_religion,black,white,asian,latino,other_race_or_ethnicity,physical_disability,intellectual_or_learning_disability,psychiatric_or_mental_illness,other_disability
0,7000000,Jeff Sessions is another one of Trump's Orwell...,2017-01-26 07:37:38.422417+00,13,NaN,164149,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7000001,I actually inspected the infrastructure on Gra...,2016-12-03 20:38:21.204649+00,54,655260.0,154341,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7000002,No it won't . That's just wishful thinking on ...,2017-05-05 18:07:58.560078+00,21,5219683.0,332005,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7000003,Instead of wringing our hands and nibbling the...,2017-02-09 14:46:30.189044+00,13,NaN,167110,approved,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7000004,how many of you commenters have garbage piled ...,2016-10-15 01:18:40.521923+00,21,NaN,148484,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
test_private = pd.read_csv('../data/kaggle_bias/test_private_expanded.csv')
test_private.head()

,id,comment_text,created_date,publication_id,parent_id,article_id,rating,funny,wow,sad,...,other_religion,black,white,asian,latino,other_race_or_ethnicity,physical_disability,intellectual_or_learning_disability,psychiatric_or_mental_illness,other_disability
0,7097320,[ Integrity means that you pay your debts.]\n\...,2017-09-13 20:12:01.484121+00,21,5945023.0,376974,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7097321,This is malfeasance by the Administrator and t...,2017-05-17 07:01:51.902566+00,55,NaN,335003,approved,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7097322,@Rmiller101 - Spoken like a true elitist. But ...,2016-12-02 17:12:12.920957+00,54,649389.0,154126,approved,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7097323,"Paul: Thank you for your kind words. I do, in...",2017-04-21 14:58:05.474657+00,13,5158666.0,328376,approved,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7097324,Sorry you missed high school. Eisenhower sent ...,2017-10-01 19:43:12.373229+00,102,6061626.0,383983,approved,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# train, test, and identities and toxicities.

In [12]:
train.head()

,id,target,comment_text,severe_toxicity,obscene,identity_attack,insult,threat,asian,atheist,...,article_id,rating,funny,wow,sad,likes,disagree,sexual_explicit,identity_annotator_count,toxicity_annotator_count
0,59848,0.000000,"This is so cool. It's like, 'would you want yo...",0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
1,59849,0.000000,Thank you!! This would make my life a lot less...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
2,59852,0.000000,This is such an urgent design problem; kudos t...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
3,59855,0.000000,Is this something I'll be able to install on m...,0.000000,0.0,0.000000,0.00000,0.0,NaN,NaN,...,2006,rejected,0,0,0,0,0,0.0,0,4
4,59856,0.893617,haha you guys are a bunch of losers.,0.021277,0.0,0.021277,0.87234,0.0,0.0,0.0,...,2006,rejected,0,0,0,1,0,0.0,4,47

In [13]:
train.columns

Index(['id', 'target', 'comment_text', 'severe_toxicity', 'obscene',
       'identity_attack', 'insult', 'threat', 'asian', 'atheist', 'bisexual',
       'black', 'buddhist', 'christian', 'female', 'heterosexual', 'hindu',
       'homosexual_gay_or_lesbian', 'intellectual_or_learning_disability',
       'jewish', 'latino', 'male', 'muslim', 'other_disability',
       'other_gender', 'other_race_or_ethnicity', 'other_religion',
       'other_sexual_orientation', 'physical_disability',
       'psychiatric_or_mental_illness', 'transgender', 'white', 'created_date',
       'publication_id', 'parent_id', 'article_id', 'rating', 'funny', 'wow',
       'sad', 'likes', 'disagree', 'sexual_explicit',
       'identity_annotator_count', 'toxicity_annotator_count'],
      dtype='object')

In [14]:
toxicities.columns

Index(['id', 'worker', 'toxic', 'severe_toxic', 'identity_attack', 'insult',
       'obscene', 'sexual_explicit', 'threat'],
      dtype='object')

In [15]:
identities.columns

Index(['id', 'worker', 'disability', 'gender', 'race_or_ethnicity', 'religion',
       'sexual_orientation'],
      dtype='object')

In [16]:
import pandas as pd

# Assuming df1, df2, and df3 are your DataFrames

# Get the set of columns in df1
columns_df1 = set(train.columns)

# Get the set of columns in df2 and df3
columns_df2 = set(toxicities.columns)
columns_df3 = set(identities.columns)

# Find columns in df1 that are not in either df2 or df3
unique_columns = columns_df1 - (columns_df2.union(columns_df3))

# Convert the set to a list, if needed
unique_columns_list = list(unique_columns)

print(unique_columns_list)

['comment_text', 'buddhist', 'parent_id', 'female', 'wow', 'black', 'identity_annotator_count', 'other_race_or_ethnicity', 'atheist', 'heterosexual', 'rating', 'other_religion', 'white', 'latino', 'muslim', 'other_sexual_orientation', 'funny', 'sad', 'article_id', 'disagree', 'likes', 'target', 'intellectual_or_learning_disability', 'homosexual_gay_or_lesbian', 'publication_id', 'psychiatric_or_mental_illness', 'transgender', 'asian', 'christian', 'bisexual', 'created_date', 'jewish', 'other_gender', 'hindu', 'male', 'physical_disability', 'other_disability', 'toxicity_annotator_count', 'severe_toxicity']

In [17]:
df = train.sample(frac=0.20, random_state=42)

In [18]:
X = df['comment_text']
y = df['target']

In [19]:
X = X.dropna()

In [20]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords 
import string

stemmer = nltk.stem.PorterStemmer()


stop_words = stopwords.words('english')

# For now I am just going to filter out both 'positive' and 'negative' to see how the model performs without them both.
# nltk's stopwords already filters out 'no' from the beginning so the only disproportianately large return from the null 
# values in positive_review or negative_review would be positive or negative.
# custom_stopwords = ['negative','positive'] 

# # adding the custom wordlist to the main list
# stop_words.extend(custom_stopwords)


def my_tokenizer(sentence):
    for punctuation_mark in string.punctuation:
        sentence = sentence.replace(punctuation_mark,'').lower()
    
    listofwords = sentence.split(' ')
    listofstemmed_words = []
    
    
    for word in listofwords:
        if (not word in stop_words) and (word!=''):
            stemmed_word = stemmer.stem(word)
            listofstemmed_words.append(stemmed_word)

    return listofstemmed_words

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\matth\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

# establish a vectorizer for the negative reviews 
count_vec = CountVectorizer(
                        min_df=10, # don't want any words that appear less than 10 times 
                        tokenizer=my_tokenizer, # use my custom tokenizer 
                        ngram_range=(1, 3), # unigrams, bi-grams, and tri-grams are all accepted 
                        max_features=500) # only return 500 results 

count_vec.fit(X) # fit to the X_train

C:\Users\matth\Anaconda3new\Lib\site-packages\sklearn\feature_extraction\text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

CountVectorizer(max_features=500, min_df=10, ngram_range=(1, 3),
                tokenizer=<function my_tokenizer at 0x0000016C9CD60360>)

In [22]:
X_test = test_public['comment_text']
y_test = test_public['toxicity']

In [23]:
X_train_transformed = count_vec.transform(X)
X_test_transformed = count_vec.transform(X_test)

print(X_train_transformed.shape)
print(X_test_transformed.shape)

(360974, 500)
(97320, 500)

In [24]:
test_df = pd.DataFrame(columns=count_vec.get_feature_names_out(), 
                           data=X_test_transformed.toarray(),
                           index=X_test.index)
display(test_df)

,1,10,2,3,abl,abus,accept,account,act,action,...,world,would,wouldnt,write,wrong,ye,year,yet,young,your
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [25]:
train_df = pd.DataFrame(columns=count_vec.get_feature_names_out(), 
                           data=X_train_transformed.toarray(),
                           index=X.index)
display(train_df)

,1,10,2,3,abl,abus,accept,account,act,action,...,world,would,wouldnt,write,wrong,ye,year,yet,young,your
286892,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
419218,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1055330,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1382764,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
256049,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145452,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1790729,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
639642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
836971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
437260,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0