In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/kaggle_regression/train_data_version1.csv')

In [3]:
df.head()

                                                text     y
0  oh why dear johnny boy part one again do you w...  2.08
1                            savant13 is a fat shite  3.58
2  i am english i am i do not want to get blocked...  0.80
3  and why the fuck should i care g e t r i d o f...  4.58
4  yo dear sir james paul you a fruity ass nigga ...  2.08

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47991 entries, 0 to 47990
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    47991 non-null  object
 1   y       47991 non-null  float64
dtypes: float64(1), object(1)
memory usage: 750.0+ KB